/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/public/service
/public/slider
/public/blogs
.env
.env_original
.env_demo
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
