RewriteEngine on
RewriteCond %{HTTP_HOST} ^rehabmysole.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.rehabmysole.com$
RewriteCond %{REQUEST_URI} !public/
RewriteRule (.*) /public/$1 [L]


php_value upload_max_filesize 256M
php_value post_max_size 256M
php_value memory_limit 2G
php_value max_input_time 180
php_value max_execution_time 180
